<!DOCTYPE html>
html(lang="zh-CN",data-use-rem="")
  head
    meta(charset="utf-8")
    meta(name='viewport', content='width=device-width,initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no')
    meta(name='description', content='description')
    meta(name='keywords', content='a,b')
    title 爱心包裹
    script(src='../js/grid.js')
    style(type='text/css').
      .loading-page {
        z-index: 200;
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #f0f0f0;

        background-position: center center;
        background-size: 100% 100%;
        background-image: url(../img/bg-crow.jpg);
      }
      .loading-number-wrap {
        position: absolute;
        left: 50%;
        top: 50%;
        margin-left: -2rem;
        margin-top: -0.5rem;
        width: 4rem;
        height: 1rem;
        line-height: 1rem;
        text-align: center;
      }
    link(rel="stylesheet", href="../css/style.css")


  body
    .wrapper
      .share-wrap
      .loading-page
        .loading-number-wrap 加载中 ... (<span class="loading-number">0</span>%)
      .p-section
        .guide-top
        .guide-bottom
          .tree-band
        .guide-title
        .guide-words
        .drawing-picture
        .drawing-picture-nocolor
          .drawing-picture-color
        //- .controller-wrap
        //-   .rainbow-change

        .cloud-1
        .rainbow-wrap
          .rainbow
          .cloud-2
        .cloud-3
        .cloud-4
        .cloud-5
        .rainbow-show
        .cloud-6
        .cloud-7

        .words-1
        .words-2
        .words-3

        .footer-wrap
          .footer-top

          .footer-bottom
        .footer-wrap-color

        .drawing-chair
        .drawing-chair-color

        .donate-bg
          .donate-box-wrap

            .donate-rule-wrap
              .donate-rule
              .rule-close-btn
            .donate-box
              .donate-btn-20.donate-btn 20
              .donate-btn-50.donate-btn 50
              .donate-btn-100.donate-btn 100
              .donate-btn-500.donate-btn 500

              .tencent-proto-wrap
                span.check-wrap
                span.tencent-proto 同意《腾讯公益网用户协议》
              .box-close-btn
          
          .donate-send-btn

        .girl-wrap
          .girl-step1
            .girl-hand
            .girl-body
          .girl-step2
            .girl-stand-left-hand
            .girl-stand-right-hand
            .girl-raise-left-hand
            .girl-raise-right-hand
            .girl-body
          .girl-step3
            .girl-hand
            .girl-body
        .gift-box-wrap
          .gift-list
          .gift-box-inner

        .gift-wrap
          .gift-item
          .ballon-wrap
            .left-ballon
            .middle-ballon
            .right-ballon
        
        .arrow-down.hide

  script(src='../js/zepto.min.js')
  script(src='../js/gesture.min.js')
  script(src='../js/loader.min.js')
  script(src='../js/main.js')
  script(src='https://ssl.gongyi.qq.com/m/weixin/jquery-1.8.3.min.js')
  script(src='../js/wxpay.js')
  script.
    $(".donate-btn").on('touchstart',function(){
      var _p = {};
      _p.money = parseInt($(this).html());
      _p.actid = 881;

      console.log(_p); 
         
      var _cbSuccessPay = function(data){
        console.log(data);
        if(data.ret == 1){
         alert("测试的demo支付成功");
         location.href="thanks.html";
        }else{
          alert(data.info+" 支付失败");
          location.href="thanks.html";
        }       
      }
      GYPage.WXPAY.payCallback = _cbSuccessPay;
      GYPage.WXPAY.paySubmit(_p); 
      });

      GYPage.WXSNS.share({'title':'','desc':''});

